<?xml version="1.0" ?>

<robot name="chech">

    <link name="base_link"></link>

    <!--赤の棒-->
	<joint name="base_joint" type="fixed">
        <parent link="base_link"/>                                                                      
        <child link="platex"/>
        <origin xyz= "0 0 0" rpy="0 0 0" />
    </joint>
 
    <link name="platex">
        <visual>
  	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="1.8 0.14 0.02"/> </geometry>
	</visual>
	<collision>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="1.8 0.14 0.02"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="30" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platex"> <material>Gazebo/Red</material> </gazebo>

    <joint name="joint0" type="fixed">
        <parent link="platex"/>
	<child  link="platex2"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="platex2">
        <visual>
  	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="1.8 0.02 0.14"/> </geometry>
	</visual>
	<collision>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="1.8 0.02 0.14"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="30" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platex2"> <material>Gazebo/Red</material> </gazebo>

	<!--追加分(赤)-->
	<joint name="add_joint_red1" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red1" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red1">
		<visual>
		<origin xyz = "0.9 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "0.9 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red1"> <material>Gazebo/Red</material> </gazebo>


	<joint name="add_joint_red2" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red2" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red2">
		<visual>
		<origin xyz = "0.6 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "0.6 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red2"> <material>Gazebo/Red</material> </gazebo>

	<joint name="add_joint_red3" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red3" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red3">
		<visual>
		<origin xyz = "0.3 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "0.3 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red3"> <material>Gazebo/Red</material> </gazebo>


	<joint name="add_joint_red4" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red4" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red4">
		<visual>
		<origin xyz = "-0.6 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "-0.6 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red4"> <material>Gazebo/Red</material> </gazebo>

	<joint name="add_joint_red5" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red5" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red5">
		<visual>
		<origin xyz = "-0.3 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "-0.3 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red5"> <material>Gazebo/Red</material> </gazebo>

	<joint name="add_joint_red6" type="fixed">
		<parent link ="platex" />
		<child  link ="plate_add_red6" />
		<origin xyz= "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_red6">
		<visual>
		<origin xyz = "-0.9 0 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /></geometry>
	</visual>
	<collision>
		<origin xyz = "-0.9 0 0" rpy = "0 0 0" />
		<geometry> <box size = "0.01 0.14 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_red6"> <material>Gazebo/Red</material> </gazebo>

<!---->

<!--緑の棒-->
	<joint name="joint1" type="fixed">
        <parent link="platex"/>
	<child  link="platey"/>
	<origin xyz="0 0.14 0.14" rpy="0 0 0"/>
    </joint>

	<link name="platey">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.02 1.8 0.14"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.02 1.8 0.14"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="30" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platey"> <material>Gazebo/Green</material> </gazebo>

    <joint name="joint12" type="fixed">
        <parent link="platey"/>
	<child  link="platey2"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="platey2">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.14 1.8 0.02"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.14 1.8 0.02"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="30" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platey2"> <material>Gazebo/Green</material> </gazebo>

    <!--追加分(緑)-->
	<joint name="add_joint_green1" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green1"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green1">
	<visual>
		<origin xyz = "0 0.9 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0.9 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green1"> <material>Gazebo/Green</material> </gazebo>
	
	<joint name="add_joint_green2" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green2"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green2">
	<visual>
		<origin xyz = "0 0.6 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0.6 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green2"> <material>Gazebo/Green</material> </gazebo>
	
	<joint name="add_joint_green3" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green3"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green3">
	<visual>
		<origin xyz = "0 0.3 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0.3 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green3"> <material>Gazebo/Green</material> </gazebo>
	
	<joint name="add_joint_green4" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green4"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green4">
	<visual>
		<origin xyz = "0 -0.3 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 -0.3 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green4"> <material>Gazebo/Green</material> </gazebo>

	<joint name="add_joint_green5" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green5"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green5">
	<visual>
		<origin xyz = "0 -0.6 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 -0.6 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green5"> <material>Gazebo/Green</material> </gazebo>

	<joint name="add_joint_green6" type="fixed">
		<parent link = "platey"/>
		<child	link = "plate_add_green6"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_green6">
	<visual>
		<origin xyz = "0 -0.9 0"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 -0.9 0" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.01 0.14" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_green6"> <material>Gazebo/Green</material> </gazebo>
	<!---->

	<!--青の棒-->
	<joint name="joint2" type="fixed">
        <parent link="platex"/>
	<child  link="platez"/>
	<origin xyz="0.14 0.14 0" rpy="0 0 0"/>
    </joint>

	<link name="platez">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.02 0.14 1.8"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.02 0.14 1.8"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="30" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platez"> <material>Gazebo/Blue</material> </gazebo>

    <joint name="joint22" type="fixed">
        <parent link="platez"/>
	<child  link="platez2"/>
	<origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="platez2">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.14 0.02 1.8"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.14 0.02 1.8"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="60" />
	    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
    </link>
    <gazebo reference="platez2"> <material>Gazebo/Blue</material> </gazebo>

	<!--追加分(青)-->
	<joint name="add_joint_blue1" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue1"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue1">
	<visual>
		<origin xyz = "0 0 0.9"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 0.9" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue1"> <material>Gazebo/Blue</material> </gazebo>

	<joint name="add_joint_blue2" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue2"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue2">
	<visual>
		<origin xyz = "0 0 0.6"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 0.6" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue2"> <material>Gazebo/Blue</material> </gazebo>

	<joint name="add_joint_blue3" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue3"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue3">
	<visual>
		<origin xyz = "0 0 0.3"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 0.3" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue3"> <material>Gazebo/Blue</material> </gazebo>

	<joint name="add_joint_blue4" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue4"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue4">
	<visual>
		<origin xyz = "0 0 -0.3"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 -0.3" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue4"> <material>Gazebo/Blue</material> </gazebo>

	<joint name="add_joint_blue5" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue5"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue5">
	<visual>
		<origin xyz = "0 0 -0.6"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 -0.6" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue5"> <material>Gazebo/Blue</material> </gazebo>

	<joint name="add_joint_blue6" type="fixed">
		<parent link = "platez"/>
		<child	link = "plate_add_blue6"/>
		<origin xyz = "0 0 0" rpy = "0 0 0"/>
	</joint>

	<link name="plate_add_blue6">
	<visual>
		<origin xyz = "0 0 -0.9"  rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /></geometry>
		<material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
		<origin xyz = "0 0 -0.9" rpy = "0 0 0" />
		<geometry> <box size = "0.14 0.14 0.01" /> </geometry>
	</collision>
	<inertial>
		<origin xyz = "0 0 0" rpy="0 0 0" />
		<mass value="30"/>
		<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
	</inertial>
	</link>
	<gazebo reference="plate_add_blue6"> <material>Gazebo/Blue</material> </gazebo>


<!---->



</robot>
