<!-- ################################################################### -->
<!-- ################################################################### -->

    <joint name="jointNNFTA3S1" type="revolute"> <!-- revolute for ft sensor -->
        <parent link="linkNN382"/>                     <!-- hand -->
        <child link="linkNNFTA3S1"/>
        <origin xyz= "0 0 0" rpy="0 0 0" />     <!-- hand -->
        <axis xyz="1 0 0"/>
        <limit effort="0" lower="0" upper="0" velocity="0"/>
    </joint>

    <link name="linkNNFTA3S1">
        <visual>
            <origin xyz="0 0.06 0.025" rpy="0 0 0"/>
            <geometry> <box size="0.025 0.01 0.11"/> </geometry>
        </visual>
        <collision>
            <origin xyz="0 0.06 0.025" rpy="0 0 0"/>
            <geometry> <box size="0.025 0.01 0.11"/> </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0.06 0.025" rpy="0 0 0"/> <mass value="0.005"/>
            <inertia ixx="1e-2" ixy="0" ixz="0" iyy="1e-2" iyz="0" izz="1e-2"/>
        </inertial>
    </link>

    <gazebo reference="linkNNFTA3S1"> <material>Gazebo/BlueTransparent</material> </gazebo>

    <gazebo reference="jointNNFTA3S1">
        <provideFeedback>true</provideFeedback>
<!--    <turnGravityOff>false</turnGravityOff> -->
    </gazebo>

    <gazebo>
        <plugin name="fta3s1_sensor" filename="libgazebo_ros_ft_sensor.so">
	    <updateRate>100.0</updateRate>
            <topicName>ftsensor_a3s1/raw</topicName>
            <jointName>jointNNFTA3S1</jointName>
            <gaussianNoise>0.0</gaussianNoise>
	</plugin>
    </gazebo>

    <transmission name="transNNFTA3S1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="jointNNFTA3S1">
	    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	</joint>
        <actuator name="motorNNFTA3S1">
    	    <hardwareInterface>EffortJointInterface</hardwareInterface>
	    <mechanicalReduction>1</mechanicalReduction>
	</actuator>
    </transmission>

