<?xml version="1.0" ?>

<robot name="pole80">
    <link name="base">
        <visual>
  	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.05 0.05 0.05"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.05 0.05 0.05"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="0.5" />
	    <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
	</inertial>
    </link>
    <gazebo reference="base"> <material>Gazebo/Black</material> </gazebo>

    <joint name="jointRedpole1" type="fixed">
        <parent link="base"/>
	<child  link="pole"/>
	<origin xyz="0 0 0.4875" rpy="0 0 0"/>
    </joint>
  
    <link name="pole">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.005 0.005 0.925"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.005 0.005 0.925"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="0.1" />
	    <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
	</inertial>
    </link>
    <gazebo reference="pole"> <material>Gazebo/Black</material> </gazebo>

    <joint name="jointRedpole2" type="fixed">
        <parent link="pole"/>
	<child  link="top"/>
	<origin xyz="0 0 0.2875" rpy="0 0 0"/>
    </joint>
  
    <link name="top">
        <visual>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.05 0.05 0.05"/> </geometry>
	    <material name=""> <color rgba="1.0 1.0 1.0 1.0" /> </material>
	</visual>
	<collision>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <geometry> <box size="0.05 0.05 0.05"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0 0" rpy="0 0 0" />
	    <mass value="0.5" />
	    <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
	</inertial>
    </link>
   <gazebo reference="top"> <material>Gazebo/Green</material> </gazebo>

</robot>
