<!-- hatch ---------------------------------------------------- -->

    <joint name="bodylefthatch_joint" type="fixed">
        <parent link="bodyleft"/>
	<child link="bodylefthatch"/>
	<origin xyz= "0 0 0" rpy="0 0 0" />
    </joint>

    <link name="bodylefthatch">
        <visual>
	    <origin xyz="0 0.1 -0.05" rpy="0 0 0"/>
	    <geometry> <box size="0.3 0.1 0.01"/> </geometry>
	</visual>
	<collision>
	    <origin xyz="0 0.1 -0.05" rpy="0 0 0"/>
	    <geometry> <box size="0.3 0.1 0.01"/> </geometry>
	</collision>
	<inertial>
	    <origin xyz="0 0.1 -0.05" rpy="0 0 0"/> <mass value="0.05"/>
	    <inertia ixx="1e-2" ixy="0" ixz="0" iyy="1e-2" iyz="0" izz="1e-2"/>
	</inertial>
    </link>

    <gazebo reference="bodylefthatch"> <material>Gazebo/Blue</material> </gazebo>

<!-- hatch end ------------------------------------------------ -->
