<?xml version="1.0" ?>

<robot name="wood">

    <link name="wood">
      <visual>
	<origin xyz="0 0 0" rpy="0 0 0" />
	<geometry> <cylinder length="0.3" radius="0.075"/> </geometry>
      </visual>
      <collision>
	<origin xyz="0 0 0" rpy="0 0 0" />
	<geometry> <cylinder length="0.3" radius="0.075"/> </geometry>
      </collision>
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0" />
	<mass value="3.3" />
	<inertia ixx="0.022" ixy="0" ixz="0" iyy="0.022" iyz="0" izz="0.022" />
      </inertial>
    </link>
    <gazebo reference="wood"> <material>Gazebo/Tree1</material> </gazebo>

    <joint name="tail_joint" type="fixed">
        <parent link="wood"/>
        <child link="br"/>
        <origin xyz= "0.1 0.025 0.025" rpy="0 0.7 0" />
    </joint>

    <link name="br">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry> <cylinder length="0.1" radius="0.0125"/> </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry> <cylinder length="0.1" radius="0.0125"/> </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/> <mass value="0.01"/>
            <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
        </inertial>
    </link>

    <gazebo reference="br"> <material>Gazebo/Tree1</material> </gazebo>
    
</robot>
