<?xml version="1.0" ?>
<robot name="debris020">

<link name="debris020">
<visual> <origin xyz="0 0 0" rpy="0 0 0" />
<geometry> <box size="1.00 0.65 0.27"/> </geometry>
</visual>
<collision> <origin xyz="0 0 0" rpy="0 0 0" />
<geometry> <box size="1.00 0.65 0.27"/> </geometry>
</collision>
<inertial> <origin xyz="0 0 0" rpy="0 0 0" />
<mass value="10.0" />
<inertia ixx="0.6848" ixy="0" ixz="0" iyy="0.6848" iyz="0" izz="0.6848" />
</inertial>
</link>
<gazebo reference="debris020"> <material>Gazebo/Granite</material> </gazebo>

<link name="debris0200">
<visual> <origin xyz="-0.46 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</visual>
<collision> <origin xyz="-0.46 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</collision>
<inertial> <origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0.1" />
<inertia ixx="0.0100" ixy="0" ixz="0" iyy="0.0100" iyz="0" izz="0.0100" />
</inertial>
</link>
<gazebo reference="debris0200"> <material>Gazebo/Granite</material> </gazebo>

<joint name="debris0200joint" type="fixed">
<parent link="debris020"/>
<child link="debris0200"/>
<origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<link name="debris0201">
<visual> <origin xyz="0.00 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</visual>
<collision> <origin xyz="0.00 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</collision>
<inertial> <origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0.1" />
<inertia ixx="0.0100" ixy="0" ixz="0" iyy="0.0100" iyz="0" izz="0.0100" />
</inertial>
</link>
<gazebo reference="debris0201"> <material>Gazebo/Granite</material> </gazebo>

<joint name="debris0201joint" type="fixed">
<parent link="debris020"/>
<child link="debris0201"/>
<origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<link name="debris0202">
<visual> <origin xyz="0.46 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</visual>
<collision> <origin xyz="0.46 0 0" rpy="0 0 0" />
<geometry> <box size="0.05 0.75 0.37"/> </geometry>
</collision>
<inertial> <origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0.1" />
<inertia ixx="0.0100" ixy="0" ixz="0" iyy="0.0100" iyz="0" izz="0.0100" />
</inertial>
</link>
<gazebo reference="debris0202"> <material>Gazebo/Granite</material> </gazebo>

<joint name="debris0202joint" type="fixed">
<parent link="debris020"/>
<child link="debris0202"/>
<origin xyz="0 0 0" rpy="0 0 0" />
</joint>

</robot>
